.sharelinks {
    position: absolute;
    top: -44px;
    left: 0px;

    ul {
        display: flex;
    }

    &:hover {
        .sharelink {
            opacity: 0.7;
        }
    }

    &.share-index {
        top: -151px;
        left: 15px;
    }

    &.share-cat {
        top: -40px;
        left:15px;
    }
}

.sharelink {
    padding: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #f5f5f5;
    margin-right: 3px;
    border-radius: 4px 4px 0px 0px;



    &:hover {
        color: white;
        opacity: 1;
    }

    &.facebook,
    &.facebook:hover {
        background-color: #4267B2;
        opacity: 1;
    }

    &.twitter,
    &.twitter:hover {
        background-color: #1DA1F2;
        opacity: 1;
    }

    &.linkedin,
    &.linkedin:hover {
        background-color: #2867B2;
        opacity: 1;
    }

    &.reddit,
    &.reddit:hover {
        background-color: #FF4500;
        opacity: 1;
    }
}


.list-blog {
    margin-top:15px;
    
    .blog-wrapper{
        padding: 40px 20px;
        box-shadow: 0px 0px 11px rgba(20, 35, 74, 0.1);
        background:white;
        border-radius:4px;
        
        width: 100%;
        height: 100%;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        transition: 0.3s;

        &:hover{
            box-shadow: 0px 0px 21px rgba(20, 35, 74, 0.2);
        }
    }

    padding-left:0px;
    padding-right:0px;

 


    &.featured {
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom:15px;
        margin-top: -110px;
        min-height: 350px;
        padding-top:20px;
        padding-bottom:20px;
        position: relative;
        border-top: 4px solid #b3142f;
        overflow: hidden;
        p{
            color:#f5f5f5;
        }

        .blog-featured-image {
            position: absolute;
            z-index: 0;
            left: 0;
            top: 0;
            height: 100%;
            width: auto;
            max-width: initial;
            transition: 0.3s;
        }

        &:hover {
            .blog-featured-image {
                transform: scale(1.2);
            }
        }

        &:before {
            @include before;
            left: 0;
            top: 0;
            z-index:1;
            // background: linear-gradient(90deg, rgba(1, 37, 70, 0.82) 0.59%, rgba(1, 69, 70, 0.82) 54.17%);
            background: linear-gradient(91.83deg, #081124 1.76%, rgba(8, 18, 39, 0.47) 77.93%, rgba(7, 19, 42, 0.67) 97.35%);
        }

        .list-blog-header,
        .list-blog-padding {
            position: relative;
            z-index:2;
        }

        .blog-content {
            color: white;
        }
    }
}






@mixin av-blogindex-768 {
    .list-blog {
        // padding: 40px;
        .blog-wrapper{
            padding: 40px;
        }
        &.featured {
            padding: 0px;
        }
        &:nth-child(1n){
            padding-right:7.5px !important;
        }
        &:nth-child(2n){
            padding-left:7.5px !important;
        }
    }

}

@mixin av-blogindex-1200 {
    .sharelinks {
        left: -40px;
        top: 140px;

        &.share-index {
            top: 30px;
            left: -25px
        }

        &.share-cat {
            top: 60px;
            left: -20px
        }

        ul {
            flex-direction: column;
        }
    }

    .sharelink {
        border-radius: 4px 0px 0px 4px;
        margin-bottom: 3px;
    }
}